---
import { Trans } from 'astro-i18next/components'
import Button from './Button.astro'
import Card from './Card.astro'
import {t} from "i18next"

const cardSolution =  [
  {
    cardId:'card-solution-1',
    cardIcon:'pi-history',
    cardHeader:'section.solution.card.card-1.header',
    cardDescription:'section.solution.card.card-1.paragraph',
    cardImageUrl:'/images/bgCard_Solutions_01-ModernBackups2x.png'
  },
  {
    cardId:'card-solution-2',
    cardIcon:'pi-eye',
    cardHeader:'section.solution.card.card-2.header',
    cardDescription:'section.solution.card.card-2.paragraph'
  },
  {
    cardId:'card-solution-3',
    cardIcon:'pi-shield',
    cardHeader:'section.solution.card.card-3.header',
    cardDescription:'section.solution.card.card-3.paragraph',
    cardImageUrl:'/images/bgCard_Solutions_02-Cybersecurity2x.png'
  },
  {
    cardId:'card-solution-4',
    cardIcon:'pi-compass',
    cardHeader:'section.solution.card.card-4.header',
    cardDescription:'section.solution.card.card-4.paragraph'
  },
  {
    cardId:'card-solution-5',
    cardIcon:'pi-users',
    cardHeader:'section.solution.card.card-5.header',
    cardDescription:'section.solution.card.card-5.paragraph',
    cardImageUrl:'/images/bgCard_Solutions_03-EmpoweredTeams2x.png'
  },
]
---
<div class="wrapper-section-solution">
  <div class="wrapper">
    <div class="section-solution-content">
      <h4>{t('section.solution.subheader')}</h4>
      <h2>
        <Trans i18nKey="section.solution.header">
          <span></span><span></span>
        </Trans>
      </h2>
      <p>{t('section.solution.paragraph')}</p>
    </div>
    <div class="card-wrapper">
      {cardSolution.map((cardItem)=>(
        <Card 
        isGradient
        isIconed
        nameIcon={cardItem.cardIcon} 
        cardId={cardItem.cardId}
        cardHeader={t(cardItem.cardHeader)}
        cardDescription={t(cardItem.cardDescription)}
        cardImage={cardItem.cardImageUrl}
        />
      ))}
    </div>
    <div class="section-solution-footer">
  
      <p>{t('section.solution.paragraph-2')}</p>
      <div>
        <Button title={t('button.try')} />
      </div>
    </div>
  </div>
</div>

<style>
  .wrapper-section-solution{
    padding-block: 40px;
  }
  .wrapper-section-solution .section-solution-content{
    display: flex;
    flex-flow: column;
    gap:16px;
    padding-bottom: 40px;
  }
  h4{
    color:rgb(var(--highlight));
    text-transform: uppercase;
  }
  h2>span{
    color: rgb(var(--highlight));
  }
  .wrapper-section-solution .card-wrapper{
    display: flex;
    flex-flow: column;
    gap: 24px;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  @media screen and (min-width:768px){ 
    .wrapper-section-solution .card-wrapper {
      flex-flow: row;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width:1440px){ 
    .wrapper-section-solution .card-wrapper {
      flex-wrap: nowrap;
    }
    .wrapper-section-solution .card-wrapper {
      height: 416px;
    }
  }
  .section-solution-footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
  }

</style>

<style is:global>
 @media screen and (min-width:768px){ 
   .wrapper-section-solution .card-wrapper .card{
      flex-basis: calc(50% - 24px);
    }
    .wrapper-section-solution .card-wrapper .card:last-child{
      flex-basis: 70%;
      margin: auto;
    }
 }
 @media screen and (min-width:1440px){ 
    .wrapper-section-solution .card-wrapper .card{
      flex-basis: calc(100% / 5) !important;
    }
    .wrapper-section-solution .card-wrapper .card:last-child{
      margin: initial;
    }
    .wrapper-section-solution .card-wrapper .card:nth-child(odd){
      height: 100%;
    }
    .wrapper-section-solution .card-wrapper .card:nth-child(even){
      height: 85%;
    }
 }
</style>